$bgColor: #FFFFFF;

.wrap{
    display:flex;
    justify-content: center;
    flex-direction: row;
    height: 200vh;
    width: 100vw;
  
    .common_data{

        width: 60%;
        height: 80%;
        margin: 150px 40px 0px 0px;
        
        .stream{
        
            img{
                width: 915px;
                height: 505px;
            }
        }

        .carousel{
            display: flex;
            flex-direction: row;
            width: 100%;

            .item{
                background-color: #C4C4C4;
                width: 170px;
                height: 170px;
                margin:20px 30px 0px 0px;
            }
        }

        .people_quantity{
            height: 40%;
            width: 83%;
            margin:179px 30px 0px 0px;
            background-color: #C4C4C4;

        }
    }

    .user_statistic{
        width: 468px;
        height: 80%;
        margin: 150px 0px 0px 0px;
        background-color: #C4C4C4;
    }

}